.formContainer {
    display: flex;
    justify-content: center;
    padding: 30px;
    width: 100%;
    flex-direction: column;
    align-items: center;

    h1{
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 48px;
        text-align: center;
    }
}


.form{
    max-width: 450px;
    width: 90%;
    border-radius: 5px;   
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

}

.formGroup{
    display: flex;
    gap: 10px;
    align-items: center;

    label {
        width: 65px;
        min-width: 65px;
    }

    input{
        border-radius: 5px;
        padding: 10px;
        outline: none;
        border: none;
        width: 100%;
        max-width: 500px;
    }
}

.buttonRe{
      top: 20px;
      margin-left: auto;
      width: 30px;
      height: 30px;
      color: black;
      border: none;
      font-size: 30px;
      background-color: papayawhip;
}

.button{
    background-color: #4db852;
    padding: 10px;
    display: flex;
    width: fit-content;
    align-items: center;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;    
    color: white;
    font-size: 18px;
    font-weight: 500;


    &:hover{
        transform: scale(1.02);
        background-color: #28692b;
    }
  }