.productsContainer {
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;

    .product {
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 300px;
      background-color: white;
      gap: 10px;
      border-radius: 5px;
      padding: 15px;
  
        img {
          width: 100%;
          height: 250px;
          object-fit: cover;
          border-radius: 5px;
        }
    
        p {
          font-family: Roboto;
          text-align: center;
          font-weight: bolder;
        }
    
        button {
          background-color: #4db852;
          padding: 5px 15px;
          display: flex;
          width: fit-content;
          align-items: center;
          border: none;
          border-radius: 5px;
          margin: 0 auto;
          cursor: pointer;    
          color: white;
          font-size: 18px;
          font-weight: 500;
      
        }
    
        button:hover {
          background-color: #28692b;
        }
    }
}

.store{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  padding: 20px;

  h1{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 48px;  
  }
}